<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocab Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main class="quiz-container">
        <!-- Progress Counter -->
        <div class="progress">
            Question {{ .QuestionIndex }} of {{ .Total }}
        </div>

        <!-- Question Prompt -->
        <h2 class="question-title">
            Word: <span class="word-term">{{ .Question.Written_Rep }}</span>
        </h2>
        {{ if .Question.Sense.String }}
        <div class="question-description">
            <h3>Definition:</h3> 
            <div class="word-description">{{ .Question.Sense.String }}</div>
            </div>
        {{ end }}
        <!-- Form Submission -->
        <form action="/submit" method="POST" class="quiz-form">
            <div class="options-group">
                    <label class="option-card">
                        <input type="text" id="answer" name="answer" value="" autofocus="autofocus" required>
                    </label>
            </div>
            {{ if .SpecialChars }}
            <div class="special-characters">
                <p>
                    Special characters: {{ .SpecialChars }}
                </p>
            </div>
            {{ end }}
            <button type="submit" class="submit-btn">Submit Answer</button>
        </form>
    </main>
</body>
</html>